/* Estilos generales */

.navbar-custom {
  background-color: #1e1e2c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
}

.hero {
  background: #1e1e2f;
  color: white;
  padding: 80px 20px 60px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 2.8rem;
  font-weight: bold;
}

.section {
  padding: 60px 20px;
}

.skills {
  margin-top: 30px;
  gap: 20px;
}

.skills .skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 140px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

/* Íconos de habilidades */
.skills .skill-item img {
  width: auto;
  height: 48px;
  max-width: 75px;
  margin-bottom: 10px;
  display: block;
  object-fit: contain;
}

/* Texto debajo de cada ícono */
.skills .skill-item span {
  font-size: 14px;
  display: block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

/*Hover de iconos */

.skills .skill-item:hover {
  background-color: #f0f0f0;
  border: 2px solid rgba(3, 8, 75, 0.525);
  transform: scale(1.2);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

/* Foto de perfil */
.profile-pic {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  object-fit: cover;
  filter: grayscale(100%);
  object-position: 50% 15%;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.profile-pic:hover {
  filter: grayscale(60%);
  transform: scale(1.04);
}

/* About me */
.about-img {
  max-height: 300px;
  width: auto;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  filter: grayscale(10%);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.about-img:hover {
  transform: scale(1.03);
  filter: grayscale(0%);
}

/* Footer */
.footer-icon {
  font-size: 30px;
  color: #9ec6ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: #ffffff;
}
